<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <title>Advanced React App Example</title>
  </head>
  <body>
    <h2>Hello Express and Ejs -- <%= answer %></h2>
  </body>
</html>
